<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iosFeatures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8289A8D21E16F81300077EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8289A8EE1E16F81300077EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8289A8F91E16F81300077EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
